<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <h1>Login or Register</h1>  
            <hr>
            <div class="cols">                       
                {% if messages %}
                    <ul class="messages alert alert-danger">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}           
                <h2>Register</h2>
                <form class="form-horizontal" action="/users/create/" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label class="control-label col-sm-3" for="first_name">First Name:</label>
                        <div class="col-sm-9">
                            <input type="text" name="first_name" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="last_name">Last Name:</label>
                        <div class="col-sm-9">
                        <input type="text" name="last_name" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="username">User Name:</label>
                        <div class="col-sm-9">
                        <input type="text" name="username" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                        <input type="text" name="email" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Password:</label>
                        <div class="col-sm-9">
                        <input type="password" name="password" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirm">Confirm Password:</label>
                        <div class="col-sm-9">
                        <input type="password" name="confirm" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirm"></label>
                        <div class="col-sm-9">
                            <input type="submit" value="Register">
                        </div>
                    </div>
                </form>
            </div>
            <div class="cols">
                <h2>Login</h2>
                <form class="form-horizontal" action="/users/login/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                        <input type="text" name="email" id=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Password:</label>
                        <div class="col-sm-9">
                        <input type="password" name="password" id=""></div>
                    </div>                   
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirm"></label>
                        <div class="col-sm-9">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div> 
        </div>          
    </body>
</html>